.Home {

  text-align: left;
  width: 100%;
  margin: 0 auto;
  /* max-width: 1200px; */
}

.Home-intro {
  width: 90%;
  margin-left: 5%;
  position: absolute;
  letter-spacing:  -0.27vw;
  margin-top: 5%;
  padding-bottom: 12.5vw;
  /* padding-top: 100px; */
  font-weight: 500;
  font-size: 8vw;
  color: #fff;
  animation: 3s fadeIn cubic-bezier(0.1, 1.15, 0.2, 1.275);
  animation-fill-mode: both;
  animation-delay: 150ms;
  /* margin: 100px 50px 100px 50px; */
  line-height: 105%;
  cursor: default;
  z-index: 1;
  opacity:0;
}


p span {
  /* display: block;
  margin-top: 8vw; */
}

hr {
  height: 1vw;
  background-color :#fff;
  width: 6vw;
  margin-left: 0;
}


.Home-grid {
  margin-top: 3vw;
  position: absolute;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  /* margin: 0 auto; */
  opacity: 100;
  z-index: 1;
  }


  @media (max-width: 899px) {

    .Home-nav {  opacity: 1;

      position: fixed;

      margin-left: 2.5vw;
      margin-top: 2.5vw;
      width: 95vw;
      height: 8vw;
      border-radius: 1.5vw;
    }

    .Card-text {
      color: #fff;
      padding: 0vw 2.5vw 1vw 2.5vw;
      font-size: 2.5vw;
      font-weight: 600;
      letter-spacing: -0.1vw;
    
    }
  
  } 


  @media (min-width: 900px) {
    .Home-nav {  opacity: 1;
      position: fixed;
      top: 25px;
      left: 0;
      right: 0;
      /* margin-left: 50%; */
      /* transform: translateX(50%); */
      margin-left: auto; 
      margin-right: auto;
      width: 95vw;
      max-width: 900px;
      height: 70px;
      border-radius: 12px;
    }

    .Card-text {
      color: #fff;
      height: 70px;
      margin: 22px 25px 35px;
      font-size: 24px;
      font-weight: 600;
      letter-spacing: -1px;
    
    }
  

  } 

  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .Home-nav {
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px); 
    background-color: rgba(35, 35, 50, 0.5);
    z-index: 100;
    cursor: grab;
    opacity: 1;
    /* transform: translateY(-12.5vw); */
    /* -webkit-transition: all 700ms cubic-bezier(0.1, 1.15, 0.2, 1.275); */
    transition:         all 700ms cubic-bezier(0.1, 1.15, 0.2, 1.275);
    box-shadow: 0 50px 75px rgba(0, 0, 0, 0);
  }


  .Overlay {
    position: fixed;
    margin-left: 2.5vw;
    margin-top: 95vh;
    width: 95vw;
    height: 100vw;
    border-radius: 1.5vw;
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px); 
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 100;
    cursor: grab;
    opacity: 1;
    /* transform: translateY(-12.5vw); */
    -webkit-transition: all 700ms cubic-bezier(0.1, 1.15, 0.2, 1.275);
    transition:         all 700ms cubic-bezier(0.1, 1.15, 0.2, 1.275);
    box-shadow: 0 -100px 150px rgba(0, 0, 0, 0.2);
    animation: 1s fadeUp cubic-bezier(0, 1.1, 0.5, 1.1);
    animation-fill-mode: both;
    animation-delay: 500ms;

  }


} 

.show-me {
  box-shadow: 0 50px 75px rgba(0, 0, 0, 0.55);
  opacity: 1;
  transform: translateY(0px);
}


@keyframes fadeIn {
  0% {opacity: 0;
      transform: scale(0.98);
  }
  100% {opacity: 1; transform: scale(1)}

}


@keyframes fadeUp {
  0% {
      transform: translateY(100px);
  }
  100% {transform: translateY(0px)}

}






/* 
@keyframes spring-up {
  0%   { transform: translateY(00px); }
  1%   { transform: translateY(-00.86376425736435px);  opacity:0; }
  2%   { transform: translateY(-03.30887625352196px);  opacity:.01; }
  3%   { transform: translateY(-07.11510629593647px);  opacity:.02; }
  5%   { transform: translateY(-17.94274565577675px);  opacity:.04; }
  4%   { transform: translateY(-12.06407562318391px);  opacity:.05; }
  6%   { transform: translateY(-24.54642206432976px);  opacity:.07; }
  7%   { transform: translateY(-31.68127828753256px);  opacity:.10; }
  8%   { transform: translateY(-39.16640928859013px);  opacity:.15; }
  9%   { transform: translateY(-46.83543411253555px);  opacity:.20; }
  10%  { transform: translateY(-54.53767168481676px);  opacity:.25; }
  11%  { transform: translateY(-62.13891722725492px);  opacity:.30; }
  12%  { transform: translateY(-69.5218524015242px);   opacity:.35; }
  13%  { transform: translateY(-76.586122452165px);    opacity:.40; }
  14%  { transform: translateY(-83.24811775766403px);  opacity:.45; }
  15%  { transform: translateY(-89.44049645431824px);  opacity:.50; }
  16%  { transform: translateY(-95.11148520727033px);  opacity:.55; }
  17%  { transform: translateY(-100.22399583479304px); opacity:.60; }
  18%  { transform: translateY(-104.7545926401348px);  opacity:.65; }
  19%  { transform: translateY(-108.6923456959847px);  opacity:.70; }
  20%  { transform: translateY(-112.03760160865943px); opacity:.75; }
  21%  { transform: translateY(-114.80070272750575px); opacity:.80; }
  22%  { transform: translateY(-117.0006815538447px);  opacity:.85; }
  23%  { transform: translateY(-118.663955706991px);   opacity:.90; }
  24%  { transform: translateY(-119.82304538616665px); opacity:.95; }
  25%  { transform: translateY(-120.51533264040694px); opacity:  1; }
  26%  { transform: translateY(-120.78187825980012px); opacity:  1; }
  27%  { transform: translateY(-120.66631056510982px); opacity:  1; }
  28%  { transform: translateY(-120.21379606281764px); opacity:  1; }
  29%  { transform: translateY(-119.47010051916436px); opacity:  1; }
  30%  { transform: translateY(-118.48074615498618px); opacity:  1; }
  31%  { transform: translateY(-117.29026816681414px); opacity:  1; }
  32%  { transform: translateY(-115.94157202720172px); opacity:  1; }
  33%  { transform: translateY(-114.47539120167033px); opacity:  1; }
  34%  { transform: translateY(-112.92984275093278px); opacity:  1; }
  35%  { transform: translateY(-111.34007772340152px); opacity:  1; }
  36%  { transform: translateY(-109.7380212102259px);  opacity:  1; }
  37%  { transform: translateY(-108.15219633458372px); opacity:  1; }
  38%  { transform: translateY(-106.60762598024857px); opacity:  1; }
  39%  { transform: translateY(-105.12580475213764px); opacity:  1; }
  40%  { transform: translateY(-103.72473387120573px); opacity:  1; }
  41%  { transform: translateY(-102.41901137453345px); opacity:  1; }
  42%  { transform: translateY(-101.2199697208098px);  opacity:  1; }
  43%  { transform: translateY(-100.13585305311918px); opacity:  1; }
  44%  { transform: translateY(-99.17202686633095px);  opacity:  1; }
  45%  { transform: translateY(-98.33121263498484px);  opacity:  1; }
  46%  { transform: translateY(-97.61374067964204px);  opacity:  1; }
  47%  { transform: translateY(-97.01781499211256px);  opacity:  1; }
  48%  { transform: translateY(-96.53978407975245px);  opacity:  1; }
  49%  { transform: translateY(-96.17441264256894px);  opacity:  1; }
  50%  { transform: translateY(-95.91514930968282px);  opacity:  1; }
  51%  { transform: translateY(-95.75438645693993px);  opacity:  1; }
  52%  { transform: translateY(-95.68370845882814px);  opacity:  1; }
  53%  { transform: translateY(-95.69412560592633px);  opacity:  1; }
  54%  { transform: translateY(-95.7762912646242px);   opacity:  1; }
  55%  { transform: translateY(-95.92070055484277px);  opacity:  1; }
  56%  { transform: translateY(-96.1178692094388px);   opacity:  1; }
  57%  { transform: translateY(-96.35849187467915px);  opacity:  1; }
  58%  { transform: translateY(-96.63357948554946px);  opacity:  1; }
  59%  { transform: translateY(-96.93457574055066px);  opacity:  1; }
  60%  { transform: translateY(-97.25345307939384px);  opacity:  1; }
  61%  { transform: translateY(-97.582788848219px);    opacity:  1; }
  62%  { transform: translateY(-97.91582261394115px);  opacity:  1; }
  63%  { transform: translateY(-98.24649577847353px);  opacity:  1; }
  64%  { transform: translateY(-98.56947483257156px);  opacity:  1; }
  65%  { transform: translateY(-98.880159678671px);    opacity:  1; }
  66%  { transform: translateY(-99.17467862706735px);  opacity:  1; }
  67%  { transform: translateY(-99.44987158683784px);  opacity:  1; }
  68%  { transform: translateY(-99.70326312039px);     opacity:  1; }
  69%  { transform: translateY(-99.93302695538216px);  opacity:  1; }
  70%  { transform: translateY(-100.13794350123476px); opacity:  1; }
  71%  { transform: translateY(-100.31735190782865px); opacity:  1; }
  72%  { transform: translateY(-100.47109806939648px); opacity:  1; }
  73%  { transform: translateY(-100.5994799360452px);  opacity:  1; }
  74%  { transform: translateY(-100.70319134949088px); opacity:  1; }
  75%  { transform: translateY(-100.78326552237604px); opacity:  1; }
  76%  { transform: translateY(-100.84101916476513px); opacity:  1; }
  77%  { transform: translateY(-100.87799812568187px); opacity:  1; }
  78%  { transform: translateY(-100.89592530095737px); opacity:  1; }
  79%  { transform: translateY(-100.89665143457395px); opacity:  1; }
  80%  { transform: translateY(-100.88210931137806px); opacity:  1; }
  81%  { transform: translateY(-100.85427175192046px); opacity:  1; }
  82%  { transform: translateY(-100.81511366810776px); opacity:  1; }
  83%  { transform: translateY(-100.76657838029143px); opacity:  1; }
  84%  { transform: translateY(-100.7105482768328px);  opacity:  1; }
  85%  { transform: translateY(-100.64881982187876px); opacity:  1; }
  86%  { transform: translateY(-100.58308284617112px); opacity:  1; }
  87%  { transform: translateY(-100.51490398641354px); opacity:  1; }
  88%  { transform: translateY(-100.44571408112546px); opacity:  1; }
  89%  { transform: translateY(-100.37679929488283px); opacity:  1; }
  90%  { transform: translateY(-100.3092956925791px);  opacity:  1; }
  91%  { transform: translateY(-100.24418697437903px); opacity:  1; }
  92%  { transform: translateY(-100.1823050421591px);  opacity:  1; }
  93%  { transform: translateY(-100.12433307616453px); opacity:  1; }
  94%  { transform: translateY(-100.07081078240043px); opacity:  1; }
  95%  { transform: translateY(-100.02214147494948px); opacity:  1; }
  96%  { transform: translateY(-99.97860066859386px);  opacity:  1; }
  97%  { transform: translateY(-99.940345864654px);    opacity:  1; }
  98%  { transform: translateY(-99.90742722728143px);  opacity:  1; }
  99%  { transform: translateY(-99.8797988721998px);   opacity:  1; }
  100% { transform: translateY(-99.8573305048547px);   opacity:  1; }
} */

/* @media (max-width: 1200px) {
  .Home-intro {
    font-size: 70px;
  }
  p span {
    display: table;
    margin-top: 70px;
  }
} */